.t-white {
  color: #f0f3ff;
}

.t-blue {
  color: #b5bce5;
}

.bg-dark {
  background-color: #232740;
}

.bg-light {
  background-color: #33395a;
}

.bg-gradient-light {
  background: rgb(78, 87, 128);
  background: linear-gradient(180deg, rgba(78, 87, 128, 1) 0%, rgba(69, 75, 113, 1) 100%);
}
